################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookShelf/bin
/BookShelf/obj/Debug
/packages
/.vs/config
*.suo
