<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bookshelf</title>

    <link href="content/bootstrap.min.css" rel="stylesheet">
    <link href="content/bookshelf-custom.css" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container" ng-controller="searchController">

        <h2>Search</h2>

        <div class="row">
            <form>
                <div class="col-md-4"><input type="text" class="form-control" ng-model="searchTerm" /></div>
                <div class="col-md-8"><input type="button" class="btn btn-primary" value="Search" ng-click="search()" /></div>
            </form>
        </div>
                <!--<div class="row" >
                    <div class="col-lg-3">
                        <div class="loader"></div>
                     </div>
                </div>-->

                <!-- Page Header -->
                <div class="row" ng-show="searchResults">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            <small>Total Items {{searchResults.totalItems}}</small>
                        </h1>
                    </div>
                </div>

                <div infinite-scroll="loadMore()" infinite-scroll-distance="2" infinite-scroll-immediate-check='false'>
                    <div class="row" ng-repeat="item in searchResults.items" ng-if="$index % 3 == 0">
                        <div class="col-md-4 portfolio-item" ng-repeat="i in [$index, $index + 1, $index + 2]" ng-init="item = searchResults.items[i]">
                            <a href="#">
                                <img class="imageClip" src="{{item.volumeInfo.imageLinks.thumbnail}}" alt="">
                            </a>
                            <h3>
                                <a href="#">{{i + 1}}. {{item.volumeInfo.title}}</a>
                            </h3>
                            <p>{{item.volumeInfo.description | limitTo:200}}</p>
                        </div>
                    </div>
                </div>
                <!--<div class="row" ng-show="searchResults">
                    <div class="col-md-8">
                        <hr />
                        <pre>{{searchResults | json}}</pre>
                    </div>
                </div>-->
            </div>
            <!-- /.container -->

            <script src="scripts/jquery-1.9.0.js"></script>
            <script src="scripts/bootstrap.min.js"></script>
            <script src="Scripts/angular.min.js"></script>
            <script src="Scripts/ng-infinite-scroll.min.js"></script>
            <script src="app/app.module.js"></script>
            <script src="app/searchController.js"></script>
</body>

</html>
