<div class="container" ng-controller="searchController">

    <div class="row">
        <form>
            <div class="col-md-4"><input type="text" class="form-control" ng-model="searchTerm" /></div>
            <div class="col-md-8"><input type="button" class="btn btn-primary" value="Search" ng-click="search()" /></div>
        </form>
    </div>
    <!--<div class="row" >
        <div class="col-lg-3">
            <div class="loader"></div>
         </div>
    </div>-->
    <!-- Page Header -->
    <div class="row" ng-show="searchResults">
        <div class="col-lg-12">
            <h1 class="page-header">
                <small>Total Items {{searchResults.totalItems}}</small>
            </h1>
        </div>
    </div>

    <div infinite-scroll="loadMore()" infinite-scroll-distance="2" infinite-scroll-immediate-check='false'>
        <div class="row" ng-repeat="item in searchResults.items" ng-if="$index % 3 == 0">
            <div class="col-md-4 portfolio-item" ng-repeat="i in [$index, $index + 1, $index + 2]" ng-init="item = searchResults.items[i]">
                <a href="#/details/{{item.id}}">
                    <img class="imageClip" src="{{item.volumeInfo.imageLinks.thumbnail}}" alt="">
                </a>
                <h3>{{i + 1}}. {{item.volumeInfo.title}}</h3>
                <p>{{item.volumeInfo.description | limitTo:200}}</p>
            </div>
        </div>
    </div>
    <!--<div class="row" ng-show="searchResults">
        <div class="col-md-8">
            <hr />
            <pre>{{searchResults | json}}</pre>
        </div>
    </div>-->
</div>